<div class="m-2">
    <section class=" modal-content pt-0">
        <div class="modal-header mb-1">
            <h5 class="modal-title ">
                SALDO CONTABLE
            </h5>
        </div>
        <div class="modal-body flex-grow-1">
            <div class="content-wrapper">

                <div class="content-body">
                    <!-- users list start -->
                    <section class="app-user-list">
                        <!-- users filter end -->
                        <!-- list section start -->
                        <div class="card align-items-end">

                            <div class="row m-75">
                                <div class="fixed">
                                    <label>Mostrar: </label>
                                    <select class="form-control-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>

                                </div>

                            </div>
                            <div class="card-datatable table-responsive pt-0">
                                <table class="user-list-table table table-striped">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>Cliente</th>
                                        <th>Fecha de acreditación</th>
                                        <th>Monto saldo disponible</th>
                                        <th>Cooperativa responsable</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let envio of []">
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck2"/>
                                                <label class="custom-control-label" for="customCheck2"></label>
                                            </div>
                                        </td>
                                        <td>{{envio.montoTotalFactura}}</td>
                                        <td>{{envio.montoSupermonedas}}</td>
                                        <td>{{envio.nombres}} </td>
                                        <td>{{envio.identificacion}}</td>
                                        <td>{{envio.email}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Modal to add new user starts-->
                            <ngb-pagination #paginator [collectionSize]="collectionSize" [(page)]="page"
                                            [(pageSize)]="page_size"
                                            [maxSize]="5" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>


                            <!-- Modal to add new user Ends-->
                        </div>
                        <div class=" text-center">

                            <button class="btn btn-primary mr-1"
                            >
                                CERRAR
                            </button>
                        </div>
                        <!-- list section end -->
                    </section>
                    <!-- users list ends -->
                </div>
            </div>
        </div>
    </section>
</div>
